body {
  font-family: 'Montserrat';
  background-color: #F1F4F5;
}

body a:not(.header__logo__link):not(.socials_) {
  text-decoration: none;
  color: #393185;
}

body a:not(.header__logo__link):not(.socials_):hover {
  color: #393185;
  text-decoration: none;
  border-bottom: 2px solid #FF9900;
}

body ul {
  margin: 0;
  padding: 0;
}

.drop-down-menu__list > li {
  position: relative;
  margin-right: 17px;
}

.drop-down-menu__list > li:hover .drop-down-sub-menu__list {
  display: block;
}

.drop-down-menu__list > li:after {
  content: '';
  width: 12px;
  height: 7px;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -17px;
}

.drop-down-menu__list .drop-down-sub-menu__list {
  position: absolute;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  left: 0;
  top: 24px;
  padding: 15px 15px;
  display: none;
  background-color: #fff;
}

.drop-down-menu__list .drop-down-sub-menu__list > li {
  list-style-type: none;
}

.header {
  height: 80px;
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}

.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-weight: 700;
}

.header-items__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-items__menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8.68056%;
}

.header-items__menu-nav__link {
  font-size: 16px;
  position: relative;
  margin-right: 40px;
  line-height: 1;
}

.header-items__menu-nav__link:last-child {
  margin-right: 0;
}

.header-items__menu-nav__link span {
  color: #FF9900;
}

.header-items__menu__cabinet {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-items__menu__cabinet__btn {
  font-size: 16px;
  background-color: #FF9900;
  border: none;
  width: 164px;
  height: 36px;
  border: 2px solid #FF9900;
  border-radius: 47px;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.header-items__menu__cabinet__btn:hover {
  color: #FF9900;
  background-color: transparent;
}

.header-items__menu__lang {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-items__menu__lang_ {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.header-items__menu__lang_:nth-child(1) {
  margin: 0 10px 0 23px;
}

.header-items__menu__lang_.active {
  font-weight: 800;
  border-bottom: 2px solid #FF9900;
}

.header-items__burger {
  cursor: pointer;
  position: relative;
  width: 80px;
  margin-left: -28px;
  display: none;
}

.header-items__burger_ {
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: #FF9900;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-items__burger_:nth-child(1) {
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-6px);
      -ms-transform: translateX(-50%) translateY(-6px);
          transform: translateX(-50%) translateY(-6px);
}

.header-items__burger_:nth-child(2) {
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-items__burger_:nth-child(3) {
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(6px);
      -ms-transform: translateX(-50%) translateY(6px);
          transform: translateX(-50%) translateY(6px);
}

.header-items__burger.active .header-items__burger_ {
  background-color: #393185;
}

.header-items__burger.active .header-items__burger_:nth-child(1) {
  -webkit-transform: translateX(-50%) rotate(225deg);
      -ms-transform: translateX(-50%) rotate(225deg);
          transform: translateX(-50%) rotate(225deg);
}

.header-items__burger.active .header-items__burger_:nth-child(2) {
  -webkit-transform: translateX(-50%) rotate(180deg);
      -ms-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
  opacity: 0;
}

.header-items__burger.active .header-items__burger_:nth-child(3) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.header-items__logo {
  height: 80px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-items__logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.header-items__position {
  margin-right: 6.94444%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 70px;
}

.header-items__position__drop-down li {
  font-size: 18px;
}

.header-items__position__drop-down > ul > li {
  position: relative;
  list-style-type: none;
}

.header-items__position__drop-down > ul > li:before {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: -29px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/locations.svg);
}

.main .start-block .search {
  position: relative;
  max-width: 555px;
  height: 40px;
  margin: 30px auto 32px auto;
}

.main .start-block .search .search-btn {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #FF9900;
  border-radius: 50%;
  background-color: #FF9900;
  padding: 10px;
  background-image: url("../img/search.svg");
  background-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main .start-block .search .search-btn:hover {
  background-color: #393185;
}

.main .start-block .search input[type='text']#search {
  outline: none;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  padding: 7px 59px 9px 19px;
  border: 3px solid #FF9900;
  border-radius: 52px;
}

.main .start-block .search input[type='text']#search::-webkit-input-placeholder {
  font-weight: 500;
}

.main .start-block .search input[type='text']#search::-moz-placeholder {
  font-weight: 500;
}

.main .start-block .search input[type='text']#search:-ms-input-placeholder {
  font-weight: 500;
}

.main .start-block .search input[type='text']#search::-ms-input-placeholder {
  font-weight: 500;
}

.main .start-block .search input[type='text']#search::placeholder {
  font-weight: 500;
}

.footer {
  -webkit-box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.15);
  height: 132px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-items__row1_ {
  width: 100%;
  height: 96px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-items__row1__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-items__row1__nav__link {
  font-size: 16px;
  position: relative;
  margin-right: 40px;
  line-height: 1;
}

.footer-items__row1__nav__link:last-child {
  margin-right: 0;
}

.footer-items__row1__nav__link span {
  color: #FF9900;
}

.footer-items__row1__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-items__row1__phone_ {
  position: relative;
  line-height: 1;
}

.footer-items__row1__phone_:before {
  content: '';
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer-items__row1__phone_:nth-child(1) {
  margin-bottom: 15px;
}

.footer-items__row1__phone_:nth-child(1):before {
  background-image: url(../img/phone.svg);
}

.footer-items__row1__phone_:nth-child(2):before {
  background-image: url(../img/smartphone.svg);
}

.footer-items hr {
  height: 2px;
  width: 100vw;
  margin: 0;
  background-color: #E0E0E0;
  display: block;
}

.footer-items__row2_ {
  width: 100%;
  height: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-items__row2_ .copy span {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #828282;
}

.footer-items__row2_ .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-items__row2_ .socials_ {
  display: block;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-items__row2_ .socials_:nth-child(1) {
  margin-right: 20px;
  background-image: url("../img/facebook.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-items__row2_ .socials_:nth-child(2) {
  background-image: url("../img/instagram.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer-items__row2_ .socials_:hover {
  -webkit-transform: rotate(360deg) scale(1.2);
      -ms-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 1199px) {
  .header-items {
    position: relative;
    z-index: 10;
  }

  .header-items__burger {
    display: block;
  }

  .header-items__menu-nav {
    position: absolute;
    top: 80px;
    left: -400px;
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 33px 14px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 16px;
  }

  .header-items__menu-nav__link {
    margin: 0px 0px 32px 0px;
  }

  .header-items__menu-nav__link:last-child {
    margin: 0;
  }

  .header-items__menu-nav.active {
    left: -15px;
  }

  .header-items__menu.active {
    left: -15px;
  }

  .header-items__position {
    margin-right: 40%;
  }

  .header-items__logo {
    width: 100px;
  }

  .header-items__logo a {
    width: 100px;
  }

  .footer-items__row1__nav {
    display: none;
  }
}

@media (max-width: 991px) {
  .header-items__position {
    margin-right: 20%;
  }
}

@media (max-width: 767px) {
  .header-items__position {
    margin-right: 0;
    justify-self: flex-end;
    margin-left: auto;
  }

  .header-items__menu {
    position: absolute;
    top: 80px;
    left: -400px;
    -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 33px 14px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    width: 230px;
    min-height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-items__menu-nav {
    width: unset;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 16px;
    margin-bottom: 75px;
  }

  .header-items__menu__cabinet {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 44px;
  }

  .header-items__menu__lang {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 20px;
    margin-top: 20px;
  }

  .header-items__menu__lang_:nth-child(1) {
    margin: 0 10px 0 0;
  }

  .drop-down-menu__list > li .drop-down-sub-menu__list {
    left: -70px;
  }
}

@media (max-width: 575px) {
  .header-items__lang {
    display: none;
  }

  .header-items__logo {
    justify-self: start;
  }

  .footer-items__row2_ .copy span {
    font-size: 10px;
  }
}

.webp .header-items__logo a { background-image: url(../img/logo.webp); }